.app-button {
  display:inline-block;
  overflow:hidden;
  width:145px;
  height:40px;
  background-size:contain;
  /*margin: 20px;*/
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.teacher {
  background-image: url("/img/security/teacher.png");
  background-size: 3em;
  background-repeat: no-repeat;
}
.kid {
  background-image: url("/img/security/kid.png");
  background-size: 3em;
  background-repeat: no-repeat;
}
.mom {
  background-image: url("/img/security/mom.png");
  background-size: 3em;
  background-repeat: no-repeat;
}

#gdpr-section {
  background-color: #0EB3EE12;
  padding: 30px;
}

#landing-video {
  float:left;
  width:100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('/video/phone_background.png');
  padding-top: 23.3%;
  padding-left: 6.2%;
  padding-right: 6.2%;
  padding-bottom: 25%;
  margin-left: 0;
  margin-bottom: 30px;
  margin-right: 0;
  margin-top: 40px;
}

.security-stack {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 3em;
    line-height: 3em;
    vertical-align: middle;
}
.service-heading {
    margin: 35px 0 10px 0;
    text-transform: none;
}

.app-play-button {
  background:url(/img/en-badge-android.svg) no-repeat;
}
.app-store-button {
  background:url(/img/en-badge-ios.svg) no-repeat;
}

ul.no_bullet {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
}

.bullet-button {
    margin-top: 20px;
}

li.checkmark {
  background: url('../img/checkmark.png') no-repeat left center;
  height: 60px;
  padding-left: 60px;
  padding-top: 15px;
  text-align: left;
  font-size: 20px;
}

.explained-section > h1 {
  margin-left: 0px;
  padding: 20px;
  text-align: center;
}

.preschool_image {
  margin-top: 10px;
}

.preshool-quote-background {
    padding: 100px 0px 100px 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../img/1147838.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.preshool-quote2-background {
    padding: 100px 0px 100px 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../img/Background-quote-annelie-firstpage.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.child-families-quote-background {
    padding: 100px 0px 100px 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../img/223557445.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.families-quote-background {
    padding: 100px 0px 100px 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../img/212749894.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.private-quote-background {
    padding: 100px 0px 100px 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../img/27605.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.families-quote-text {
  text-align: center;
  color: #fff;

}

@media(min-width:1200px) {
  .preshool-quote-background {
    padding-bottom: 200px;
  }
  .preshool-quote2-background {
    padding-bottom: 200px;
  }
  .child-families-quote-background {
    padding-bottom: 200px;
  }
}

.quote {
  text-align: center;
  font-size: 20px;
  color: white;
  padding-right: 5%;
  padding-left: 5%;
}
.quote-attribution {
  text-align: center;
  font-size: 15px;
  color: white;
}
.quote-image {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 80px;
  height: 80px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
}

ul.social-buttons li a {
  background-color: #222;
  color: #fff;
}
.text-success {
  margin-bottom: 11px;
}
.text-danger {
  margin-bottom: 11px;
}

ul.social-buttons {
  margin-top: 0px;
}

footer {
  margin-top: 40px;
  color: #000;
  background-color: #00B0F012;
  border-top: 1px #b2b2b2 solid;
}

footer a {
  color: #000;
}

.subpage-content-container a button {
  color: #000;
}

.link-list {
  padding: 0px;
}
.link-list a {
  color: #0EB3EE;
}

.link-list-item {
  list-style-type: none;
  padding-bottom: 14px;
}
.contact-container {
  padding-bottom: 40px;
}


header {
  text-align: center;
}

header .intro-text {
    padding-top: 60px;
    padding-bottom: 30px;
    margin-top: 200px;
}

.navbar-default {
  font-style: normal;
  margin-bottom: 0px;
  background-color: #fff;
}

.navbar-default .nav li a {
  color: #000;
}
.nav-border {
  border-bottom: 1px;
  border-color: #e5e5e5;
  border-style: solid;
}

.navbar-brand>img {
    height: 20px;
    max-width: 250px;
    margin: 0px;
}
.navbar-default .nav li a.selected-main-nav {
  color: #0EB3EE;
}

.subpage-title {
  margin-left: 0px;
  margin-top: 60px;
}
.subpage-author {
  margin-left: 0px;
  margin-bottom: 30px;
  color: #7f7f7f;
  font-style: normal;
}

.subpage-content-container blockquote {
  background-image: url("/img/quote.png");
  background-repeat: no-repeat;
  background-size: 60px auto;
  border: none;
  padding: 60px 0px 0px 0px;
  margin-left: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.subpage-content-container p.subpage-quote-caption {
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 0px;
  font-size: 12px;
}

.subpage-content-container ul {
  font-style: normal;
}

.subpage-content-container li {
  margin-bottom: 14px;
}

.subpage-content-container blockquote p {
  font-size: 16px;
  margin: auto;
}

.subpage-content-container img {
  max-width: 100%;
}

.subpage-content-container p,
.subpage-content-container h1,
.subpage-content-container h2,
.subpage-content-container h3,
.subpage-content-container h4,
.subpage-content-container h5,
.subpage-content-container h6 {
  margin-left: 0px;
  margin-right: 0px;
  font-style: normal;
  line-height: 1.75;
}

.subpage-content-container h1,
.subpage-content-container h2,
.subpage-content-container h3,
.subpage-content-container h4,
.subpage-content-container h5,
.subpage-content-container h6 {
  margin-top: 45px;
  margin-bottom: 25px;
}

.subpage-content-container p.subpage-caption {
  text-align: center;
  font-style: italic;
  font-size: 11px;
}

.subpage-content-container {
  text-align: justify;
}

.blog-author {
  margin-left: 0px;
  margin-bottom: 30px;
  color: #7f7f7f;
  font-style: normal;
}

.blog-entry {
  list-style-type: none;;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 60px;
  margin-bottom: 60px;
  margin-top: 0px;
  border-bottom: 1px #b2b2b2 solid;
}

.blog-entry p {
  font-style: normal;
}

.subnav-container {
    height: auto;
    border-bottom: 0px;
}

.subnav-container p {
  margin-left: 50px;
  margin-right: 50px;
}

.subnav {
  list-style-type: none;
  margin-left: auto;
  margin-bottom: 0px;
  margin-right: auto;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content:  center;
  align-items:  flex-end;
}

.subnav li {
  display: inline;
  text-align: right;
  border-bottom: 1px solid;
  border-color: #e5e5e5;
  padding-right: 13px;
  padding-left: 13px;
  padding-bottom: 12px;
  padding-top: 0px;
}

.subnav li.selected-sub-nav {
  border-bottom: 3px solid;
  border-color: #e5e5e5;
  padding-bottom: 10px;
}

.subnav li a{
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #000;
  font-style: normal;
}
.sub-title {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
  font-style: normal;
  font-family: Merriweather,"Helvetica Neue",Helvetica,Arial,serif;
  font-weight:100;
  font-size: 24px;
  float: none;
}

header .intro-text .intro-lead-in {
    font-size: 15px;
    font-family: Merriweather,"Helvetica Neue",Helvetica,Arial,serif;
    font-style: italic;
    font-weight: 100;
}

header .intro-text .intro-heading {
    text-transform: none;
    font-family: Merriweather,"Helvetica Neue",Helvetica,Arial,serif;
    font-style: italic;
    margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: none;
  font-family: Merriweather,"Helvetica Neue",Helvetica,Arial,serif;
  font-style: italic;
}

p {
  font-family: Merriweather,"Helvetica Neue",Helvetica,Arial,serif;
  font-style: italic;
}

body {
  font-family: Merriweather,"Helvetica Neue",Helvetica,Arial,serif;
  font-style: italic;
}

section {
  padding: 0;
}

section h2.section-heading {
  margin-top: 100px;
}

.img-subpage-column {
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.text-subpage-column {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

@media(min-width:660px) {
  #landing-video {
    width: 340px;
    background-size: 340px;
    padding-top:78px;
    padding-left:21px;
    padding-right:21px;
    padding-bottom:79px;
    margin-left:20px;
    margin-bottom:-50px;
    margin-right:20px;
    margin-top:70px;
  }
  #gdpr-section p {
    max-width: 300px;
    margin-right: 10px;
  }

  .gdpr_image {
      max-width: 150px;
  }
}

@media(min-width:768px) {

  #gdpr-section p {
    max-width: 400px;
    margin-right: 20px;
  }

  .gdpr_image {
      max-width: 200px;
  }

  .navbar-brand>img {
      height: 30px;
      max-width: 250px;
      margin: -3px;
  }

  .navbar-default.navbar-shrink {
    background-color: #fff;
  }

  .subpage-content-container blockquote {
    padding: 60px 150px 0px 0px;
    margin-left: 150px;
  }

  .subpage-content-container p.subpage-quote-caption {
    margin-left: 130px;
  }

  .subpage-title {
    margin-left: 100px;
  }
  .subpage-author {
    margin-left: 100px;
  }
  .subpage-content-container p,
  .subpage-content-container h1,
  .subpage-content-container h2,
  .subpage-content-container h3,
  .subpage-content-container h4,
  .subpage-content-container h5,
  .subpage-content-container h6,
  .subpage-content-container figure img {
    margin-left: 100px;
    margin-right: 100px;
  }

  .subpage-content-container ul {
    margin-left: 100px;
    margin-right: 100px;
  }

  /*
  .subpage-content-container img {
    width: calc(100% + 200px);
    margin-left: -100px;
    margin-right: -100px;
  }
  */

  .subnav-container {
    height: 33px;
    border-bottom: 1px solid;
    border-color: #e5e5e5;
  }
  .subnav li {
    height: 100%;
    border-bottom: 0px solid;
  }
  .subnav {
    float: right;
  }
  .sub-title {
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .preshool-quote-background {
      padding: 100px;
  }

  .preshool-quote2-background {
      padding: 100px;
  }

  .child-families-quote-background {
    margin-left: auto;
      padding: 100px;
  }

  .families-quote-background {
    margin-left: auto;
      padding: 100px;
  }

  .private-quote-background {
    margin-left: auto;
      padding: 100px;
  }

  .quote {
    font-size: 20px;
    padding-right: 20%;
    padding-left: 20%;
  }

  .quote-attribution {
    font-size: 15px;
  }
    section {
      padding: 0;
    }
    header {
      text-align: left;
    }

    header .intro-text .intro-lead-in {
        font-size: 15px;
    }
}

@media(min-width:992px) {
  #gdpr-section p {
    max-width: 600px;
    margin-right: 30px;
  }

  header .intro-text .intro-lead-in {
      font-size: 15px;
  }
}

@media(min-width:1200px) {
  #gdpr-section p {
    max-width: 800px;
    margin-right: 40px;
  }

  .col-lg-6 {
    width: 70%;
  }
}

.floating_phone_kids {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
}

.gdpr_image {
    max-width: 200px;
    margin-left: 20px;
    display: block;
}

.floating_phone {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
}

.preschool-section {
  margin-right: 0px;
  text-align: center;
  padding: 20px;
  max-width: 768px;
}
.kids-logo {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 250px;
}

.desktop_explain_image {
  width: 100%;
  display: none;
}
.mobile_explain_image {
  width: 100%;
  display: block;
}

@media(min-width:768px) {

  .explained-section > h1 {
    margin-left: 0px;
    text-align: left;
  }

  .desktop_explain_image {
    display: block;
  }
  .mobile_explain_image {
    display: none;
  }

  .floating_phone {
      width: 330px;
      margin-top: 90px;
  }

  .floating_phone.right {
      position: relative;
      top:0px;
      float: right;
      margin-right: 10px;
  }

  .floating_phone.left {
      position: relative;
      top:0px;
      float: left;
      margin-left: 10px;
  }
  .preschool-section.right.kids {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .preschool-section.right {
    margin-right: 380px;
    text-align: left;
  }
  .preschool-section.left {
    margin-left: 380px;
    text-align: left;
  }
  #preschool-intro h1 {
    margin-top: 60px;
  }
}

@media(min-width:992px) {
  #landing-video {
    position: relative;
    z-index: 1031;
    margin-left: 80px;
    margin-right: 50px;
  }

  .explained-section > h1 {
    margin-left: 100px;
    text-align: left;
  }

  .floating_phone_kids {
    width: 600px;
    margin-top: 180px;
    position: relative;
    top: 0px;
    float: right;
    margin-right: 10px;
  }

  .floating_phone {
      width: 350px;
      margin-top: 30px;
  }

  .floating_phone.right {
      position: relative;
      top: 0px;
      float: right;
      margin-right: 60px;
  }

  .floating_phone.left {
      position: relative;
      top: 0px;
      float: left;
      margin-left: 60px;
  }
  .preschool-section.right.kids {
    margin-right: 450px;
    margin-left: 10px;
    text-align: left;
  }
  .preschool-section.right {
    margin-right: 450px;
    margin-left: 100px;
    text-align: left;
  }
  .preschool-section.left {
    margin-left: 450px;
    margin-right: 100px;
    text-align: left;
  }
}

@media(min-width:1200px) {
  .explained-section > h1 {
    margin-left: 150px;
    text-align: left;
  }

  .floating_phone_kids {
    width: 700px;
    margin-top: 130px;
    position: relative;
    top: 0px;
    float: right;
    margin-right: 60px;
  }

  .floating_phone {
      width: 450px;
      margin-top: -20px;
  }

  .floating_phone.right {
      position: relative;
      top: 0px;
      float: right;
      margin-right: 60px;
  }

  .floating_phone.left {
      position: relative;
      top: 0px;
      float: left;
      margin-left: 60px;
  }

  .preschool-section.right {
    margin-right: 550px;
    margin-left: 150px;
    text-align: left;
  }
  .preschool-section.left {
    margin-left: 550px;
    margin-right: 200px;
    text-align: left;
  }
  .preschool-section h1 {
    padding-bottom: 30px;
    padding-top: 50px;
  }
}




a.white,
a.white:hover,
a.white:focus,
a.white:active {
  color: #FFFFFF;
}



.text-primary {
    color: #0EB3EE;
}



a {
    color: #0EB3EE;
}
a:hover,
a:focus,
a:active,
a.active {
    color: #0EB3EE;
}

.btn-primary {
    border-color: #0EB3EE;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #0EB3EE;
    text-transform: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #0EB3EE;
    color: #fff;
    background-color: #0EB3EE;
}

.btn-primary.disabled,
.btn-primary[disabled] {
  border-color: #0EB3EE;
  color: #0EB3EE;
  background-color: #fff;
}

fieldset[disabled] .btn-primary.active {
    border-color: #0EB3EE;
    background-color: #0EB3EE;
}

.btn-primary .badge {
    color: #0EB3EE;
    background-color: #fff;
}

.btn-xl {
  border-color: #0EB3EE;
  background-color: #0EB3EE;
  color: #FFF;
  text-transform: none;
  padding: 15px 30px;
  font-size: 16px;
  font-style: normal;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #0EB3EE;
    color: #0EB3EE;
    background-color: #fff;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #0EB3EE;
    background-color: #fff;
    color: #0EB3EE;
}

.btn-xl .badge {
    color: #0EB3EE;
    background-color: #fff;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #0EB3EE;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #0EB3EE;
}

.navbar-default .navbar-toggle {
    border-color: #0EB3EE;
    background-color: #0EB3EE;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #0EB3EE;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #0EB3EE;
}

.navbar-default .navbar-nav>.active>a {
    color: #fff;
    background-color: #0EB3EE;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #0EB3EE;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(88,140,199,.9);
}

.timeline>li .timeline-image {
    background-color: #0000;
    border: 0px;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #0EB3EE;
}

::-moz-selection {
    background: #0EB3EE;
}

::selection {
    background: #0EB3EE;
}
body {
    webkit-tap-highlight-color: #0EB3EE;
}

.centered {
    text-align: center;
}

#gdpr-footer {
    font-style: italic;
    font-size: smaller;
}

.modal-body {
    padding: 30px;
}

.modal-body h3 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
